# Ignore node_modules
Frontend/app/node_modules

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore build directories
Frontend/app/build
Frontend/app/dist

# Ignore other unnecessary files
Dockerfile
docker-compose.yml
.env
.env.*  # Ignore any additional .env files (e.g., .env.local)
.vscode
.idea
.git
.gitignore

# Ignore Python cache
__pycache__
*.pyc
*.pyo

# Ignore virtual environments
.venv
venv

# Ignore large files
*.tar
*.tar.gz
*.zip
*.rar
*.7z

# Ignore media files in the frontend
Frontend/app/*.jpg
Frontend/app/*.jpeg
Frontend/app/*.png
Frontend/app/*.gif
Frontend/app/*.mp4
Frontend/app/*.mp3
Frontend/app/*.avi
Frontend/app/*.mkv
Frontend/app/*.mov

# Optional: Ignore any dist directories at the root or elsewhere
dist
