# Ignore node_modules
node_modules
Frontend/node_modules

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore build directories
Frontend/build
Frontend/dist

# Ignore other unnecessary files
Dockerfile
docker-compose.yml
.env
.vscode
.idea
.git
.gitignore

# Ignore Python cache
__pycache__
*.pyc
*.pyo

# Ignore virtual environments
.venv
venv

# Ignore large files
*.tar
*.tar.gz
*.zip
*.rar
*.7z

# Ignore media files
*.jpg
*.jpeg
*.png
*.gif
*.mp4
*.mp3
*.avi
*.mkv
*.mov

dist
